*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
body{
  background-image: url('https://media.istockphoto.com/id/1302561463/photo/holographic-iridescent-background-unicorn-colorful-rainbow-foil-abstract-beautiful-rainbow.jpg?s=612x612&w=0&k=20&c=J0hzspdM15A0xbssmLmXwnXXe55rJD7PNrVGbRkFgHY=');
  overflow-x: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}